# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
virtual-env/
virtual-env/*

# Environment settings
.*env


# backup files
backup-data.json
dev-sms-backup.pgsql
dev-sms.pgsql


# sensitive files
st-sms-*.json